
<div class="container-fluid">
  <%= link_to (edit_group_path(@groups)) do%>
    <button type="button" class="btn btn-warning">グループ編集</button>
  <% end%>
  <%= link_to "/groups/#{@groups.id}", method: :delete do%>
    <button type="button" class="btn btn-danger">削除</button>
  <% end %>
  <div class="row">
    <div class="media">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/<%=(@groups.youtube_url).last(11)%>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <div class="media-body">
        <p class="mt-0 h-100">
        <%= safe_join(@groups.content.split("\n"), tag(:br))%>
        </p>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <% @groups.messages.each do |message|%>
      <%= link_to "/groups/#{@groups.id}/messages/#{message.id}", method: :delete do%>
        <div class="card">
          <div class="card-body">
            <h3 class="card-content"><%= message.content%></h3>
            <h6 class="card-user"><%= message.user.name%></h6>
          </div>
        </div>
      <% end%>
      <h1>👉</h1>
    <% end %>
  </div>
</div>
<div class="container-fluid">
  <div class="row float-right">
    <%= form_for [@groups, @message] do |f|%>
      <div class="input-group mt-2 p-3 ">
        <%= f.text_area :content, class: "form-control  col-9", placeholder: "type a message", size: "50"%>
        <div class="input-group-append">
          <%= f.submit "Save", class: "btn btn-success" %>
        </div>
      </div>
    <% end %>
  </div>
</div>


