<div class="container-fluid p-3 clearfix">
  <% if user_signed_in? %>
    <%= link_to (edit_group_path(@group)) do%>
      <button type="button" class="btn btn-warning">グループ編集</button>
    <% end%>
    <%= link_to "/groups/#{@group.id}", method: :delete do%>
      <button type="button" class="btn btn-danger">削除</button>
    <% end %>
  <%end%>
  <div class="row">
    <div class="media p-3 ">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/<%=(@group.youtube_url).last(11)%>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <div class="media-body height-fixed ">
        <p class="mt-0 h-100 scroll p-4 border">
        <%= safe_join(@group.content.split("\n"), tag(:br))%>
        </p>
      </div>
    </div>
  </div>
  <div class="row c">
    <% @messages.each do |message|%>
      <%= link_to "/groups/#{@group.id}/messages/#{message.id}", method: :delete do%>
        <div class="card">
          <div class="card-body">
            <h5 class="card-content"><%= message.content%></h3>
            <h6 class="card-user"><%= message.user.name%></h6>
          </div>
        </div>
      <% end%>
      <h1>👉</h1>
    <% end %>
  </div>
  <div class="row float-right ">
    <%= form_for [@group, @message] do |f|%>
      <div class="input-group p-5 ">
        <%= f.text_area :content, class: "form-control col-9 ", placeholder: "type a message", size: "50"%>
        <div class="input-group-append">
          <%= f.submit "Save", class: "btn btn-success" %>
        </div>　　
      </div>
    <% end %>
  </div>
</div>


