<!DOCTYPE html>
<html>
  <head>
    <title>SdgsFlow2</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid">
      <header class="row p-5 bg-primary">
        <%= link_to "SDGs-flow", root_path, class: "col col-8 text-white text-uppercase" %>
        <% if user_signed_in? %>
          <%= link_to current_user.name, "#", class: "col-2 text-white btn-default" %>
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "col-2 text-white" %>
        <% else %>
          <%= link_to "新規登録", new_user_registration_path, class: "col-2 text-white btn-default" %>
          <%= link_to "ログイン", user_session_url, class: "col-2 text-white" %>
        <% end %>
      </header>
    </div>
    <%= yield %>
  </body>
</html>
