<!DOCTYPE html>
<html>
  <head>
    <title>SdgsFlow2</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
      <header class="row p-3 bg-primary text-right">
        <h1><%= link_to "SDGs-flow", root_path, class: "text-white text-uppercase col col-3" %></h1>
        <div class="col col-9">
          <% if user_signed_in? %>
            <%= link_to current_user.name, "/users/#{current_user.id}", class: "col-1 text-white btn-default" %>
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "col-1 text-white" %>
            <% if current_user.admin? %>
              <%= link_to (new_group_path) do%>
                <button type="button" class="btn btn-warning text-right">グループ作成</button>
              <% end%>
            <% end %>
          <% else %>
            <%= link_to "新規登録", new_user_registration_path, class: "col-1 text-white btn-default" %>
            <%= link_to "ログイン", user_session_url, class: "col-1 text-white" %>
          <% end %>
        </div>
      </header>
    <%= yield %>
  </body>
</html>
